<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8" />
        <title>Simon Pierre - Portfolio | About</title>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
  </head>
    <body>
    <div class="wrap">
      <div class="contener">
        <nav>
          <ul class="navFile">
            <li><a href="home.html">DASHBOARD</a></li>
            <li><a href="curriculum.html">Curriculum vit&aelig;</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
        <header>
            <h1>WHAT ABOUT US</h1>
        </header>
        <aside class=" connect">
          <picture class="portrait">
            <img src="../img/rachmaninof.jpg" alt=" Author">
          </picture>
        </picture>
        <div class="portfolio">
              <img src="../img/web_designer.jpg" title="Developer" alt="developer"></a>
        </div>
        </aside>
      </div>
      <main>
      <section class="experience">

          <p>involve in the continuous learning and the realization of websites and software applications for several years,
            I like not only to learn new technologies but also to transmit them to my relatives and via the web.</p>
            <p>I have corporate experience, in particular 4 months, as a back-end developer, during which my missions included debugging,<br>
               versioning and application analysis at "Proxiad" Nord in 2018".
               More, I am a specialist in  landscape genetics phylogenetics and  ecotoxicology.</p>
      </section>
      <section class="bas basAb">
          <div class="bas_f centrInterest">
            <h2 class="commentaire">INTERESTS</h2>

            <p>I am a sports fan, more particularly judo and football.
               Besides, I am passionate about philosophy; medicinal and aromatic plants as well as geodynamics.</p>
            <img src="../img/judo.jpg"  alt="kumikata">
          </div>
          <div class="bas_f hobby">
              <h2 class="commentaire">HOBBIES</h2>
              <p>Computer courses for my relatives</p>
               <p>Reading anticipatory books<p>
               <p>Chess and scrabble games</p>
               <p>Furniture restoration</p>
              <img src="../img/echec.jpg"  alt="jeu d'échec">
          </div>
          <div class="bas_f livre">
              <h2 class="commentaire">USEFUL LINKS</h2>
                <a href="https://livre.fnac.com/a1392793/Richard-Dawkins-Le-Gene-egoiste-2021" title ="M2i FORMATION" ><img src="../img/livre.png"  alt="livre gene egoiste"><br>Livre gène égoïste</a><br>
          </div>
      </section>
      </main>
    </div>
        <!-- End wrapper -->
      <footer>
        <ul class="foot">
          <li><a href="https://gmail.com/simonpierremboma@gmail.com" ><img src="../img/env.jpg" alt="envelope" class="pickers">simonpierremboma@gmail.com</a> </li>
          <li><a href="https://mobile.twitter.com/cityzenmboma5"><img src="../img/twit.jpg" alt="logo twitter"  class="pickers"> cityzenmboma5</a></li>
          <li>&copy; 2022 MBOMA</li>
        </ul>
      </footer>
      <!--- footer ends here ---->

  </body>
</html>
