<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simon Pierre - Portfolio | contact</title>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    </head>
    <body>
      <div class="wrap">
        <div class="contener">
          <nav>
            <ul class="navFile">
              <li><a href="home.html">DASHBORD</a></li>
              <li><a href="curriculum.html"><i>Curriculum vit&aelig;</i></a></li>
              <li><a href="about.html">ABOUT</a></li>
            </ul>
          </nav>
          <header>
            <h1>STAY IN TOUCH</h1>
          </header>
          <aside class=" connect">
            <picture class="portrait">
                <img src="../img/env.jpg" alt="gare Lille Europe" >
            </picture>
            <div class="portfolio">
                  <img src="../img/stayIn_touch.jpg" title="ET" alt="Affiche film ET"></a>
            </div>

          </aside>
        </div>
        <main>
        <section>
          <article>
              <p> Please fill fields and check the boxes to you to identify yourself</p>

            <form class="" action="#" method="post">

              <fieldset class="underFieldStatusUnderFieldIdentity">
                <div class="civilite">
                    <div class="underFieldStatus" >
                      <h2 class="commentaire">Status</h2>
                      <label for="Mr">Sir  </label><input type="radio" name="civilite" value="Mr" />
                      <label for="Mme">Mrs </label><input type="radio" name="civilite" value="Mme" />
                      <label for="Mlle">Miss </sup> </label><input type="radio" name="civilite" value="Mlle" />
                    </div>
                    <div class="underFieldIdentity">
                      <h2 class="commentaire">Identity</h2>
                      <label for="Nom">Name : </label><input type="text" name="nom" id="nom" placeholder="Ex: Martin" size="10" maxlength="10" />
                      <label for="Prenom">Firstname : </label><input type="text" name="prenom" id="prenom" placeholder="Simon-Pierre" size="12" maxlength="10" />
                      <label>Phone number : </label><input type="tel" name="telephone" id="telephone" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" placeholder="07 52 88 25 70 "  size="10" maxlength="14"   required>
                    </div>
                </div>
              </fieldset>
              <fieldset class="conectAct">
                   <h3 class="commentaire">Connexion</h3>
                   <label for="email">Email : </label>
                   <input type="email" name="connexion" value="email" />
                   <label for="pw">Your_Password : </label>
                   <input type="password" name="connexion" value="pw" />


                  <h3 class="commentaire">Profession</h3>
                  <div class="choixAct">
                      <div class="teamTechnol">
                          <div class="team">
                            <label for="equipe">Team </label>
                            <select name="equipe" id="equipe">
                              <option value="developpement">development</option>
                              <option value="DevOps">DevOps</option>
                              <option value="SystemeReseau">System & Networks</option>
                            </select>
                          </div>

                          <div class="technol">
                            <label for="Technology">Information Technology </label><select name="Technology" id="Technology">
                                <option value="FrontEnd"> Front-end</option>
                                <option value="Back-end"> Back-end</option>
                                <option value="Infrastructure"> Infrastructure</option>
                                <option value="DevOps"> DevOps</option>
                              </select>
                          </div>
                      </div>

                      <div class="condProjOther"
                          <div class="condProj">
                              <label for="ConduiteProjet"> Project management</label>
                              <select name="ConduiteProjet" id="ConduiteProjet">
                                <option value="Managment"> Manager</option>
                                <option value="LeadTech"> Technical Leader</option>
                                <option value="scrm"> SCRUM Master</option>
                                <option value="Developpeur"> Developer</option>
                                <option value="testeur"> Tester</option>
                              </select>
                          </div>
                          <div class="other">
                              <label for="autre">other occupation </label>
                              <select name="autre" id="autre">
                                <option value="etudiant"> Student</option>
                                <option value="salarie"> Employee</option>
                                <option value="fonctionnaire"> Official</option>
                                <option value="independant"> FreeLancer</option>
                                <option value="entrepreneur"> Businessman</option>
                              </select>
                          </div>

                      </div>

                    <h3 class="commentaire">Your message</h>
                    <label for="commentaire" class="commentaire">You may write your message beaneth : </label><br>
                    <textarea name="commentaire" id="message" rows="7" cols="27"></textarea>
                  <div  class="button">
                     <button color="blue" type="submit">SUBMIT</button>
                  </div>
              </fieldset>
            </form>
          </article>
        </section>
      </main>

       </div>
      <!-- End wrapper -->
      <footer>
        <ul class="foot">
          <li><a href="https://gmail.com/simonpierremboma@gmail.com" ><img src="../img/env.jpg" alt="envelope" class="pickers">simonpierremboma@gmail.com</a> </li>
          <li><a href="https://mobile.twitter.com/cityzenmboma5"><img src="../img/twit.jpg" alt="logo twitter"  class="pickers"> cityzenmboma5</a></li>
          <li>&copy; 2022 MBOMA</li>
        </ul>
      </footer>
    <!--- footer ends here ---->

    </body>
</html>
