<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simon Pierre - Portfolio | <i>Curriculum vit&aelig;</i></title>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    </head>

    <body>
      <div class="wrap">
          <div class="contener">
            <nav>
              <ul class="navFile">
                  <li class="navFile"><a href="home.html">DASHBOARD</a></li>
                  <li><a href="contact.html">CONTACT</a></li>
                  <li><a href="about.html">ABOUT</a></li>
              </ul>
            </nav>
            <header>
                <h1> <i>Curriculum vit&aelig;</i></h1>
            </header>
            <aside class=" connect accueil">
              <picture class="portrait">
                <img src="../img/photoPortrait.png" title="photo" alt="photo auteur">
              </picture>
              <div class="portfolio">
                  <a href="https://ntumba.github.io/PortfolioFrontDec2017/" title ="Portfolio-V0">
                    <img src="../img/imgPortfolio.png" title="portfolio 2018" alt="photo auteur"></a>
              </div>
            </aside>
          </div>
          <main>
            <section class="formation">
              <h2 class=" commentaire frmaCom">CURSUS</h2>
              <dt>2011 : </dt>
                  <dd> Licence Life and Earth Sciences : Sciences and Technologies Lille1 ;</dd>
              <dt>2013 : </dt>
                  <dd> Master Management and Biodiversity Ecology : Sciences and Technologies Lille1 ;</dd>
              <dt>2016 : </dt>
                  <dd>  Web development(front-end, PHP, SQL, Linux command lines and Git versioning software): Simplon Roubaix< :/dd>
              <dt>2018 : </dt>
                  <dd> Full-stack development (advanced front-end, Project management -agile approch-, Java EE) : M2iFormation :</dd>
              <dt>2019 : </dt>
                  <dd> Project management, Software tests, V cycle & agile approch, SQL, JEE : Globalknowledge (Lille).</dd>
            </section>

          <section class="bas">
            <div class=" bas_f competence">
              <h2 class="commentaire">SKILLS</h2>

                <p>My main field is computer programming, more precisely in the back-end development in Java EE language.<br>
                   I also perform management of relational databases (SQL), project management in an agile approch (SCRUM) and front-end development. </p>
            </div>
            <div class="bas_f lien">
              <h2 class="commentaire">USEFULL LINKS</h2>
                <a href="https://diplome.m2iformation.fr/campus-m2i-lille/?gclid=CjwKCAiA55mPBhBOEiwANmzoQi1tHhg39pLXG6I-Blw9afELuG7FiLM_vW_td6_yHS2dwDxgWKUXaxoC1HUQAvD_BwE" title ="M2i FORMATION" >M2i FORMATION</a><br>
                <a href="https://www.globalknowledge.com/fr-fr/formations/nos-centres-en-france/lille" title ="GlobalKnowledge">GlobalKnowledge Euratechnologies</a><br>
                <a href="https://hautsdefrance.simplon.co/" title ="Simplon" >Simplon Hauts-de-France</a><br>
                <a href="https://sciences-technologies.univ-lille.fr/" title ="USTL1">Sciences and Technologies Lille1</a>
            </div>
          </section>
        </main>
      </div>
      <!-- End wrapper -->
      <footer>
        <ul class="foot">
          <li><a href="https://gmail.com/simonpierremboma@gmail.com" ><img src="../img/env.jpg" alt="envelope" class="pickers">simonpierremboma@gmail.com</a> </li>
          <li><a href="https://mobile.twitter.com/cityzenmboma5"><img src="../img/twit.jpg" alt="logo twitter"  class="pickers"> cityzenmboma5</a></li>
          <li>&copy; 2022 MBOMA</li>
        </ul>
      </footer>
    <!--- footer ends here ---->

    </body>
</html>
