<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simon Pierre - Portfolio | HOME</title>
        <link rel="stylesheet" href="../css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    </head>
    <body>
      <div class="wrap">
          <div class="contener">
            <nav>
              <ul class="navFile">
                <li><a href="curriculum.html"><i>Curriculum vit&aelig;</i></a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="about.html">ABOUT</a></li>
              </ul>
          </nav>
          <header>
                <h1>My Portfolio</h1>
          </header>

          <aside class="accueil">
            <picture>
              <img src="../img/hat.JPG" alt=" author">
            </picture>
            <div class="introduction">
                <dt>First name : </dt>
                    <dd>Simon-Pierre</dd>
                <dt>Name : </dt>
                    <dd>MBOMA</dd>
                <dt>Profession : </dt>
                    <dd>Full-Stack programmer</dd>
            </div>
          </aside>
        </div>
        <main>
        <section>
          <div class="experience">
               <p>Welcome my friend, you can find here some projects made with amazing skills using front-end languages and back-end programmation as well.</p>
               <p>My portfolio aims not only to present my IT pragramming improvement, my studies but also to arouse in you the interest for software technologies</p>
               <p>Finally, you could reach me for constructive exchanges news in programming or best practices in coding.</p>
          </div>
        </section>
      </main>
      </div>
      <!-- End wrapper -->
      <footer>
        <ul class="foot">
          <li><a href="https://gmail.com/simonpierremboma@gmail.com" ><img src="../img/env.jpg" alt="envelope" class="pickers">simonpierremboma@gmail.com</a> </li>
          <li><a href="https://mobile.twitter.com/cityzenmboma5"><img src="../img/twit.jpg" alt="logo twitter"  class="pickers"> cityzenmboma5</a></li>
          <li>&copy; 2022 MBOMA</li>
        </ul>
      </footer>
    <!--- footer ends here ---->

    </body>
</html>
